.app-form {
    display: flex;
}

.app-form .button {
    color: #fff;
}

.app-form_search {
    gap: 8px;
    align-items: center
}

input::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #475069;
}

.field {
    position: relative;
}

input {
    border: 1px solid #323b54;
    border-radius: 12px;
    padding: 12px 16px 12px 56px;
    width: 384px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #8e95a9;
    
}

.field img {
    position: absolute;
    top: 17px;
    left: 16px;
}

.app-form_login {
    flex-direction: column;
    gap: 27px;
}

.app-form_login .field img {
    display: none;
}

.app-form_login input {
    padding: 12px 16px;
}